Source: liri-calculator
Section: base
Priority: optional
Maintainer: Uvos <devnull@uvos.xyz>
Build-Depends:
 qtbase5-dev,
 qtbase5-dev-tools,
 qtdeclarative5-dev,
 qtdeclarative5-dev-tools,
 qtquickcontrols2-5-dev,
 libqt5waylandclient5-dev,
 qtbase5-private-dev,
 qtdeclarative5-private-dev,
 qt5-qmake,
 extra-cmake-modules,
 libqt5svg5-dev,
 qtwayland5-dev-tools,
 libqt5waylandclient5-dev,
 liri-cmake-shared-dev,
 qdoc-qt5,
 libwayland-dev,
 qttools5-dev,
 debhelper (>= 10),
Standards-Version: 3.1.0

Package: liri-calculator
Architecture: any
Multi-arch: same
Depends:
  libqt5concurrent5,
  libqt5core5a,
  libqt5dbus5,
  libqt5gui5,
  libqt5network5,
  libqt5printsupport5,
  libqt5sql5,
  libqt5test5,
  libqt5widgets5,
  libqt5xml5,
  qml-module-qtquick-controls2,
  qml-module-qtquick2,
  libqt5quickcontrols2-5,
  libqt5svg5,
  libqt5waylandclient5,
  qml-module-qt-labs-platform, 
  qml-module-qt-labs-settings,
  qml-module-qtquick-layouts,
Description: Shared QML modules for lirios applications
XB-Maemo-Display-Name: Lirios Calculator
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAT3npUWHRSYXcgcHJvZmlsZSB0eXBl
 IGV4aWYAAHjarZpncuywdoT/YxVeApGB5SBWeQdevr8GOUG696WypdLMiAQRTujTDYxZ//Pf2/wX
 PzHEYkLMJdWULn5CDdU1PpTr/qnn1V7hvJ4f/9zi/x/XzfuG45L/tMztad+4Hj8PvMaw/ed1U547
 rjwdPTdeHXqN7PgwvyfJdXdft+HpqK77Q6olf0+1u/t9PA3PVJ6/NZ5ZPb3qf/N9IWSsNCMDeeeW
 t/46r+Wegb//Gn/5vDr3uhJ9NefNPjPBID+W93q/rm8D/TDy65P5bf33p1/Gd+257n/ZMj024sNf
 b9j4d+MfE/8Mh2dG7ucN219++NPIe8+y97pX10LCoumJqGPsl4XUsGNyfx5L/Gb+Ip/z+a38lqtd
 g6HmNa7O77DVOryyjQ122ma3Xed92MEUg1su8+7ccP5cKz676gY+sj7o126XffXTFzw33DLec9m9
 52LPuPWMN2xh5Glp6iydWR75h7/mn938T37N3gpTa6/ythXzcoprpiHP6ZVWuMDux2/xGPj1+7j/
 +oofQhUPxmPmwgLb1e8uerSf2PLHz552kffbx9bk+XSAiRg7Mhnr8cCVrI822Ss7l63FjgUHNWbu
 fHAdD9gY3WSSLnifnMmuOI3NM9meti665HQZbMIR0Sdyq+ChhrNCiMRPDoUYatEDaTGmmAG2WGNL
 PoUUU0o5CeRa9jnkmFPOueSaW/EllFhSyaWUWlp11YOBsaaaa6m1tuZMY6BGX432jSvddd9Djz31
 3EuvvQ3CZ4QRRxp5lFFHm276CUzMNPMss862rFkgxQorrrTyKquutom17XfYcaedd9l1t7fXHq/+
 8fsfeM0+XnPHU2qX317jqsn51YUVnET5DI+5YPF4lgcIaCefXcWG4OQ5+eyqjqSIjklG+cZMK4/h
 wrCsi9u+fffx3L/lNxPLv+U39688Z+S6/w/PGVz3p9/+4rWpOjeOx+4slE0vT/bRprli+LsuXv6v
 7/+njhyzj60G3+I0rH/7xrrbWMyVqKhjXXWtkBveADqx/vJ7xTJn3nM7hVaM9lS8CYhulteWoc1W
 4idsRR8Te7ravDyCLx2+731frTJ8w6Zl6OKiYcDKYV07xAaAN6ORSp7tfm0Nq67A3T1a2Z1CsUrf
 FSTLbqzh1wy946zwdc/uNKi00+ZN9XOLnk+Pjjigv+6e/uo1V6h7ztP51Zub6fRoCcfIh+ryJiBP
 N/+g6Xn9ND5t+aeff/w9fiHWrt1NtK+ZDnUV9ijAXprV797qJllO46jGtNXrX1ubH81TVEP3TIR5
 /qPOSeYQ+7dxTcsTs+21Wl4hlZ9jpbPM9bVMWn5W5sPnYaOn+/UslFR2hXK6GxnecwVTbl9Qsami
 Y8wydliqA4siMFJt2Sp8ajI+x73zOGG1KQxttkT2Xqsxt+mpuM6RxjU4SwEETa7crV89rrin673t
 KxLCxWxPuObBK2P0CMaAQT6S4T0BJSFa8AcT6h3yYFcINlQfyljgHU7wdfURg4EvgHcYOowKvDmA
 qdhJixzs6Nn5lrovUbjWXEiOyVnmU2vGGi5E6iRuHMnMsR3WgbPG6vNUedZinQ3Tt0JEKsNGAU5m
 srWPeskIVyP5aJGzy83ps4FwzN3z+H4CV2+Cn/VvPWfbsDhifDKi11dCECL4EWeZr+bhjylc35n3
 NTy8rnMLgD/TF9KZvU40LOe3XPeawddT+ZN2BS5MrtZY4H+eWFup2zTVzOQaSNO6M2xipjq866FQ
 IXhkp5Yuuhi5EubrKh6pQiBQyxJ3cxutTxabfC0UyFbL7HXB5SQ/ekt7McLqe1HEfi+A+ccS0k5B
 CyBbosv36s0z44xtg3v1QKukxPp5pV/5wMBrxW/zVWxm5p9jClH+nIf/cpb/6pBORo6oo283R0sk
 2VckxbEVOM/D3Ouu7GVPPkuC5Igl65AgGpeZKcBLdsAzA8wDajAYogQyi5FGr+7K1E4aN0+FBQAG
 6VpXqrsTllfmmWVrhB9lx/QmdHqGJjzXwhtco8ep/IpjMfN3qsEJKmYmI1NvlxxCPFM1DbHTsROu
 t5GpTYgDViYZYyt173DbKQ9Wh6FiFhYVykgoKbiIEEgSaX6aa3qogkNIFmzWKESRJOtUQbfRG5Oy
 hIkGKQQTybX1Vcjib/eVtAlYA7rpvwhNEK84DaunvvFgJI7S+HLVO9rv5tKcRB/DA2ziHVCU6K7k
 wT3X5jxyg6kx1CDOCWCQAlIDSpCiJ/cHwAbSNNXeeDDSwGRYRGqIXZ9Wn3nBLphMAbFGL4BuqnMR
 QRdEZRO3BCax4GuyLD0hRkUDWjDO4gLKPtUXlzKjGuE4+Gvg12sk8MqjqsixhErS9eDFxCjoDA1r
 w5lFmH35kiFDbTJQjZBEfMK6OyRB7iwxFcIcbDkLyCedbCysfsmSYAFoO69oAvzMAqhXIysWoyti
 sreEw/nIwwV6q8hKr9ApWELd2pOHp2wEc4ID1kJGMv+cb9OVJ8/y3g14YmH6L74CiKWRFqwOnAdh
 J5Y0sOBwjAipTqVQW8dVC7SvC/9BnHoCB+rC2EHd6QaCsKQReiXxiT+WbCaKBEasRvhox6SadQfj
 BYkkLWGOYkP4miGpNVZux/v0CpgQEdDZPk1qOzboJKteO+LNgIm1DDKFNoOCT0AsSyOmvRqP0gBc
 qYQ2YTVE5UcDRqhbnfUx0BWqKuxESxKuqk+gBF3NwNMtKCvxKFqoDtJonxhHs8ESGd40JIf3PdsB
 C4kObkl88Xz1xFGFfm0yBMsmwlEf5kAxEE8Mm9EQPaEsJtzMSCEWi/bIt8XJLq2gHLPCPtw7nGI7
 tPNlA8QESV4xWFQtMDOUOp0W3Hd840/54I8DefDNgQXkieVxFnnHxxe6mAdeIryiAhe5n3E7cV1V
 3xRA7/CBFFM518ky1I6rJKYokEMDmT7lM2y3hKKIncVnCtwJRziz9LB3d4ef0ICHK+/JaVbP7eBN
 saTuIKEuhE2pJPulfIGG1Ey5HxHNQVGK1EJ6P8aT6U4szR7fsYSCrBTNjanOHA5M4M3HwkABSVKt
 7JtECu8UCEG7HAx0garciqRIt5XcubhDQlAHWB8UCn0BDarhWgt+usYCK6lMBNENbIxtEwaCS0Vp
 t5BMLorARd3sXjsGLi2AFRRaDWfBuMqKAMxVn47ANITqmT212GNbpOi0wyzKjqd8AZJOWR6TJSkL
 6EhEOk8WXlDcgq1QgPLeFCy+wIrcPigB0TqWGsTFk1H+Y9JwoX4AphYC8UGXUHC5LJXwZ9CZO+ou
 RR3MeIo5cgPpQmLeusqqRKdrin8vhU1aJ3enrV+34ZD2ua9NRZQVpSWNwsA5JcU08jVtkJWgdoEC
 UMB1iBhAnQB94Kh5yWCTfYKODih4aEsmSWCYp4Uw32UaByqow3ouNAndRoI31kIpwPXYj3S3lTjS
 7u38iUpACBfmcTUwcJL0Cv0PPLKwFcIK165taCMAP7WspqdS2Gu+5WuLGaAJ3V+gDCy2a9LkUQCa
 PdpfCI3AM5XiAA2Rqe2Lc1zr7UT7cuIBlTpl0Kf+6toE7/epUSYUaEAHmvxxNPmt7FrkzF2X6ndd
 InqpSwdRwDGL90dCKcC1iCN4GYhCrzSpKzfJaChunooFwldCh6CFFA/vEV6qFJJHBDGFtmKhCqkq
 KMgAeKNrJmZkdlBFp3Bk5hVc8ARYIr4idMqePD8cx/5ohSWjkTSPOS/d3JkVe9rPctzHX9I+AeYt
 Dj/+vA5Rk/C4e4Zn6/DAJkLlsqB4R843p3UXJ0wO5HS1lqodO+xGbB1SigSCujiHi7R7bGf2ZswU
 4xTSUpys7IN0BOJQ4ugDTIMIc/AE6ilM5BRLwm9aSO2Ap94TwigmQuPGIdX3sgoGO2273Jus6PNt
 Cf+j3WUBFZkFqpJudXSa8dR3S50+iFL/bv7dencvsXEs5rdRySUSu0hV8IOsBDeVpaBeEN+BwYNs
 IJO7WLMgV9utdpK+gHkRO7uAVDCbj5iUwtnX/Eths7DqRLr0BgW/kPnUabS7JZWoMrHG0USpjRVV
 QxEheAodxC+1FL2KWXfolgCdhOcTbZcUYXAzZyu626G7Q4LIdMgAFbQuqWzQh6qG6syrzEd1lv1u
 7ieOjxZ0RpFJhoZPW/MvGoucoadgmeneCHoPkuKuazJ6Oc8YHSQRW9SVIy+jA72aRH8XvbsK5atp
 b6ugLS2qAQ5KegF5VNOPtaI1ThAd7IH2CodETrihHb6TukoQetUpxhFj8YgHu5FCS3GectqBnKrL
 zMc0UVtUH9OM92rbX1arbSqxhZ4f8eylRfrp3D/t/NhnEEm2058grf3RfX11vxPKHl1GHKH6MjX8
 8i8DNUSWNi5A1iJ2O0UCqG0spXpMQMrVVuBNDAbNqwWyNMzB5k6R6a/dRT9g7YSEWPoClC/tvAKc
 D3M64g5mDl56YZKSnMppWGo5/B2YDghpt0SeMTMkktpPfDsSAM6iQAcQKc/knjSITvvOTR0WbgNm
 +gPzoi1+3MUnRZWnecErdq8v4kwOJbvCR3MGAGRl8bdJZB8t8V2ToIhz6a64ztFQOqG835FJOsOA
 U19OjC9qbsAYKhtmnZXxXSE37gLJUBEbaMcK28NwEMyHVFgKz9RqxN9UcqpkFzMlIE+6jx/p3tQ4
 PUI6SA2tFr/U0MeaWxs6Qp3UDC1+35+lVFXmTvKnLAFUJ4iBFC0S/DB+CkrV3h3xBIAhk2I3Kp1j
 QTnGJfTwi2CANhAbBSDhMXKmo/WLWNwYcxQPehNxQTwAmzpbyEFryklD7fcltBrUx1pChyTC0x5V
 XREWUA8iAte4OIJ6xlXUxZYiTI8CgVm2gSckcqR1wKpaHW2CF0mb3nsWCswC2eDoqJG2nLY1tVZg
 HV27tbFVRM3X8gaOYckcDBLhT7nXbKFGX+xB3KGrQttbcX+THYD9ZjB7muA+gc8iqkIft+OJm218
 wu99k+kS92uJJVFCWXDvWeIYnp2kviNodehOq/1r8zfBi6MAHHt1SHPpYt/p2fFtCYLDDaM7HlyX
 TmNp+KCyZgn4qrraLndFyDseRpTgu0Iq/GWRyaB5XkG8KH6HOYm1AQ6kgxixoKVUOY14FjrMfWfM
 yl5HOHfymK3zW0LvE8apnSAdX0EKfF9wT+l5/6da85L75uh9sHb0iDZClItkXsESmuhDtCh4RAlh
 ar4P4ACrDAiC1+6Hh+/akTKFvZuJpKANZbmiHQYc2JMNUGaiGglDjhAG0FBmv4jBrtLgmblUiPZ8
 qZgoIHJth9XH1GlFI3r6CEyUNM7a/o4ikHRPkQ/bjxi7KBtzmvMkg9W2Nf4ZNWV1dGEsBx1DCjQc
 pq8UqB5EUoAkWWSDwt+Tdz10LUYbUJSMS0iiDBlY0CTxdwTk8MnloR0GjElEHa2z4K6pa/NvP0QY
 ZxLL+vdHII9qbk0IZftnSEkJoaCmALZRNlHccCVSEnUFbmButKGpP1b6LBQUgeN00dN7k1ynDf69
 g3u43C/aZf5kaZ2iWrz/6uhsqd4bUVHlkXUX9yFrQwzXXOFFcUWzAeUEg5uEQdEeSW8CpoqIm0Ti
 RFJ68VsvNMqIqTBfaWP+ljeftInud9pYpY1377QpLStDtsnjqbVjta9ae921lpoaKnzleiTlt2aM
 H0kJchnW+K0pVYvjpr6fxBERtfe+3u8K93qPmiFuNNqleaJmXsRMGmGlC1gjLERi8HnWwlaTihdB
 1D7ka4OhcflmBeYdVMyd3pKzqkJFO47XW7/9fv+BStQhFmm050jtJCROwa3azX+mqA3Dt0Y/W8IV
 5XDLufpbzhnpOW97CXbiZ5Qu9SmOQvYPsCc4B3nRtsLQ9h6JmmwsQ+l+Z/vxBTq1wUbE4xm46owj
 kyO2RqqbKLZIFrOOPoIKMVh9GcJ5RqqrTunPGmbRMSyswsx0BCD89G/6Dwse7apTcAs8IW1szPuH
 uus7+bIlaiCISH2QioqOPLP/TCuKx6Kw+cPn34OZMxq6yH9lHJwEmrXmHEAPCz06Z/7SOe2lc3BW
 0UnN2pDLJIkma6FttLNUc9Zmia0l31o5dbgL5fkaPS3pRge0BYlBqsKiABodU2qebSIJw5ck/KEI
 n3nW2sPUeWyq3wDwK/thwxhK5x9JIhzt+7n1Q/aRGPAbCusptj1sGcZ8jUipTe9BkHXYJc0qInPb
 SWwHHfZRzfNLNZsQbL9lc+WZBHf1Z1ljUWoKiy7MwaPSQtPeAmKO4jrOQYOQi5J370iZH3JxZOxU
 0LEX+HjYCHM/KVsuCh0x3YJF/zuMTwFJMMIx+WchaiLIzpwR10h64O8qSxgD3tgNwDcP2JGfPs97
 x92eTXoVZSd2ZKEccMbejB/6xoROjBbXbIZwdq9vglQdSkJAM6UwUMASOQPCLIxEjSQOqqcKrpJF
 tvWdCB0IDJ32BQlSbczXPHZQRbIEk0dOZ+ga4aZn7zvhaUlwuyELSxyrhdUBIMYF+5FP1PMZZBGx
 q653HSrWAjPI+l6LPiR9tU9fw8F22mQhsik6lF6sr6KjbyfMGEsjbVI5j1NRrL6ZptmcA6VLqp7y
 d5VnDnX1VUzSHHQiinw8Y/tnHa8WOroPZyqvFtfQgoHx8LrDXEw5kyldj7d0m6OJHicGCCAE3Oii
 LDR9D5JsgxtCCeRSLGPXwfTW9zDe27IvEl2H7LPrkB1tBiqnrM1/uR4A+uF6SF/xAUsSbOGChutY
 z+SKbshQthIUbR7loW9cSt4S3E45SuJM3zv06pQg8uwvxcn8vVr95+//ZkfUbYLe/C9orHZlueW+
 mQAAAYRpQ0NQSUNDIHByb2ZpbGUAAHicfZE9SMNAHMVfU6UiFUE7iDhkqE4WREUEF61CESqEWqFV
 B5NLv6BJQ5Li4ii4Fhz8WKw6uDjr6uAqCIIfIE6OToouUuL/kkKLGA+O+/Hu3uPuHSDUy0yzOsYA
 TbfNVCIuZrKrYugVIQjowwyiMrOMOUlKwnd83SPA17sYz/I/9+foUXMWAwIi8SwzTJt4g3hq0zY4
 7xNHWFFWic+JR026IPEj1xWP3zgXXBZ4ZsRMp+aJI8RioY2VNmZFUyOeJI6qmk75QsZjlfMWZ61c
 Zc178heGc/rKMtdpDiGBRSxBgggFVZRQho0YrTopFlK0H/fxD7p+iVwKuUpg5FhABRpk1w/+B7+7
 tfIT415SOA50vjjOxzAQ2gUaNcf5PnacxgkQfAau9Ja/UgemP0mvtbToEdC7DVxctzRlD7jcAQae
 DNmUXSlIU8jngfcz+qYs0H8LdK95vTX3cfoApKmr5A1wcAiMFCh73efdXe29/Xum2d8PmrNytwtx
 FwgAAAAGYktHRAAAAAAAAPlDu38AAAAJcEhZcwAAA7AAAAOwASfED60AAAAHdElNRQfkBwISOzPF
 6B6fAAAKJ0lEQVRo3u2au48kVxXGf+fequru6cf0PHZ3dj3Dys7AKch/ASIixSmQIWKQEBEIEUEE
 EQEZEJrU4i8AHDtBAsxie3fn1e9H1b33EFR1d1X1w2OJxJJLWql6qurWOed+5/vOObWiqnyRD8MX
 /PjCOxDtu/CbP75HI04QEQIlmAUQAUVRQADV8jmluzdnAoRQnJDfqFr6Xbl7cw+qzNOUH3/v3Z12
 Sj0Hfv/e+zjvcd7RTJJ3jJhOIKiszNDVy0pmavm8bIfW7amYXHv35pdsHlcN0+l0/vdGs4E1hh+8
 ++3DO+C8B+TKGvP+YDy5WmYuj7euVqzaqCqFM7ltuVFas6hwWbcDXLle81uAOLbaabVeGJFv+hA+
 ObgDv/3Tn3OvrP3wbjD6qkoeCg2BoAoaSi8tv3BzriqIkRxO5VACwYf8qWIR3WznymU2sRDEGFQV
 EeGs3/swy9zbxhp+9N3v7N4BYyxJFL1zPRhcquRGzGczhoN7sizNnaD6Ml0Zorkjxli6nS6tThtj
 I0QMGpTpZMRoMMQHV4OcboFNVUnihE73mGb7CIPhfjS+enJ++vU0yz7YC6HBeIKIxCHky82nU158
 9C+mi0U18QqjVcsR3Dh0f3fLxcVTeien2ChiPBzwn4/+TZplW/Da3oXNxVbzlmeXV7TaXSDi1e0g
 1hD206j3Hu+9rmBzP7jbGP+Qo0BMmnmuX79mPp3g0ozr168K46nSDgcYCJgtFtxevyZNFwTvNScX
 /zAaDaqky3QdEZcucc5VtlnLoRQhbjRXZIoPgcl4jCI453ebKkI6m2HjGBtF7CoK0jRlNh4T2ZjY
 GjHGHHJANsaFgA9+beBsMmY6uEOMJRTJLApiIBT58+iN52vzfAiAki3n+Tq7NkyE4fVL+o8vMFG8
 4s1qIIMSgmexmIsPztoo3u+Aaq40IrJFdecXb9A7PmE0vOfx0yuC5gYO724x1tDunbBcLgg+VCJd
 yZUt+tSCZcxuDK1WUQWCeBdE5AEQ0iJZtUSYi+USly7xzjFdzNAQEIQ0TbHWMp/PHwBsrQRHxCAF
 XYopiaRqRShBWBHzwVKi0KqC/nVDkcXVUEi7aL7oRsC0pqy5AqhIXneUjsVsxmI2RQoIoTC+vyGO
 G4SQ1ymtThcTRazeIms3TOHIvh2o1SY5JDdJSgkOWqFD3Rt2qf3du4x0NsUYya+KoN6T6ZzgFURo
 944rT+l+8tqXxDWBkk1+6ZbobJ4TkYowyVa5AJ3jE45Pz9f3f/zPf3B68Yw4aa6fdS4rSOAg8+6C
 kNYqwfLOaCkUm0pSBObTCRLFuDSl2e4UmK1CqqY1KIoYgw+eLHUE0lKJsXNDcyzJwX5Ad+Shrktn
 LZiqbFe728VnGYNXLxHv1hitRl72q28IOfvpYTsEQTVondF2Qmi1RFCf870U9UmjgbUnBUvlC0Vx
 wvnTS0Lw2DjBBy1KjlAkcrUEqYvl6eMLkqSx7jmqle4KipLbYR4CIS3FIKwwXThmLCY2FWg45xBj
 QAyu0ABV3TQvKhUhq8M0brXz9VR3srAWEdQCLnIQQqVFjDF0u90NLlUJIezEdQgldip2J0lirLVY
 a2m1jqgXYWs4ldasR58QaDYaWGswxmBspCL2YbWQAP3TExbzKTc311vNRx2q5Wq02WhwfHyMjWIi
 E3F6do53jslkXNKXEi/ozv2h22nTPe5ioxgxFhHBefeZQrZ2wUYxF29c0TvuMxmPqvogssmacq9o
 hMja3PgoQawlsYYnTy84TU/xzhGUvDla8xXbuitg4wgbxdgowRiDiKg5qAM1IRMx2CiiddRBxJKm
 s0olWed5FRAVjLVYsYi1BWaFyMZIIvgoAa3BSbTURsp6XGBtlBtuLUZ2i0K0XyIUDcp4OOD25rpo
 B/e0lLWlj9pt2u0uNk87NATG4yGT8aTSBK2MV6XWfOY52Ov1aB51iFhRkNmi2D00mt80mYxKndRn
 tyEr2ybTGWfngV6vhzUR49GQT1+9JIRtttlK3NIxmU64uHhKu9PBECOiW2Ez9XJaVfN2wAeG9/d7
 jNe9xue9gGcyGpJlGd47hqMRqzb1ocarKlnmGI9GZGm2FryDLWV9AedcjTZ3G666bZT3AZ85nA94
 77duVB42k82yLLcj+LxQPtyRVRsNr55VaS1Faaxhu0GRQmjKnblfjWIIW/cjNdWvT+hKUQ6Fqhel
 kETWPDSJN4uH4Bnf3pDOZ7R6XVrtY2wcF5F2LGYTZvf3mCim9+gxNop3l6JAupiRzueFD4XSl5lP
 Iel0MTYqeVdoTNheMqrDZpcwjW5e0+50OXtyQbpYMB3cYltHRHHMbHDHUafHk+dv4rOU21ef0r+4
 BI22QKKAsZY4SXIRk20xFBGstes/y3q3BJHtiBzcAQWCc6SLOY8vn7NMl5hGg/Nnl7z++AWzNOXp
 8zfJguJCIGq0aLaOUJ8Bybp9LHd2UdIgThq1IXBtyKW6s8BEFBF94Hi96MaSYqg6m06Kuidwf3eL
 9xlx0uDu5hpfjFuyNGU6GdNsHbHpHKpQ0hDyxA6BsP6X9wir3/+X8foqPi5znD+75PrTT4hbbdxy
 Qbvd4snVW2BgcnfD/auPsUkTly7pnz0qhEk3pUkpiLPJmNnwPp9EyHYJYIyhe/qoGLN8Tgd0x2Q/
 qCI25vLNt0jnC+LmEzIfWGYpKDS7fbonZyxnExqtpzgfyFxGEsVUJqnFgp1en+P+adEj6M520Qet
 tJSr2cBnJvGuTZACNtOFR8SQLZaV0Yj3Aec8YhvMl+naoFUwpPRNYUWvzvt1nX9gQlltfpCdeI/2
 oqegz5XLUuL8+q7lOlCNpqoixXwn7KBTEXkQRDQEUFnT7oOLORGwJtqatOxSUd2hzusJnZi1MH3u
 L6IriBVCuXFiby2kKxYQMZZev4+g+Sy00t7vroxy0cvnqketJjaOiGzEcb9HWMHmwbbnpcdR64io
 6MgwVrNabVbZgclohHNZ1j89R4DjkxMuv/Kc1y9f4ouJg5ZwWm8uV6zfarXo9fOOzBhD/+QRGmA0
 HG6m2jt3drMGInTaHTq9HjZKwAjT4X1m7IGWcjyZ0D89+2A6Gb/odHtfM8bSPz3nqN1hOh7lA10t
 JWddZxAQ8l646KTEWmILZ48e0e0d451DCQeTN/9MZYiswUYJUZKwmM9eJM2jvw0G94e/Uv7wZ78C
 1Wc2iv7SbDSvTBSJhoBzGYvFXPKiarfxeXQl76KMwZiikxJRDYEQVIJ3pcek5oASMLmGCIgxBA3B
 pdmLkGXfQuS/v/vlTw8ncSOJWabZJ8ZGb48no2+EoG1VFVCydGmD12otWcw7NIT15EzEqhFRMbKu
 ojffk1WkNHyXLdxvqlUxVo0x06TZ+iviaCTxZ38nXh3f/8kvOGo2CQWVGSM4l+UD2HrspDwEzntp
 7z1GahM5XRVrZje7aSk7RPDFzGm+XPKHX//8YR+6v/y/El868PmO/wHdYpTsugn2NwAAAABJRU5E
 rkJggg==

